.App {
  text-align: center;
  background-size: contain;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkolivegreen;
  background: linear-gradient(#1e5a58 50%, #684d44 50%);
}
